.Main .Map {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main .search-form {
    margin-top: 1rem;
    width: 600px;
}

.Main .search-form .form-control {
    width: 70% !important;
}

.Main .search-form .btn {
    width: 28% !important;
}

.Main .search-buttons {
    margin-top: 1rem;
}